[
  { "ParameterKey": "EnvironmentName",          "ParameterValue": "pde" },
  { "ParameterKey": "ProjectName",              "ParameterValue": "dakhalnama" },
  { "ParameterKey": "VpcCIDR",                  "ParameterValue": "10.0.0.0/16" },
  { "ParameterKey": "PublicSubnetCIDR",         "ParameterValue": "10.0.1.0/24" },
  { "ParameterKey": "DbSubnetCIDR",             "ParameterValue": "10.0.2.0/24" },
  { "ParameterKey": "DbSubnetCIDR2",            "ParameterValue": "10.0.3.0/24" },
  { "ParameterKey": "InstanceType",             "ParameterValue": "t3.micro" },
  { "ParameterKey": "KeyPairName",              "ParameterValue": "REPLACE_WITH_YOUR_EC2_KEYPAIR_NAME" },
  { "ParameterKey": "RepoUrl",                  "ParameterValue": "REPLACE_WITH_YOUR_GIT_REPO_URL" },
  { "ParameterKey": "RepoBranch",               "ParameterValue": "main" },
  { "ParameterKey": "AppDir",                   "ParameterValue": "/opt/pde" },
  { "ParameterKey": "DBInstanceClass",          "ParameterValue": "db.t3.micro" },
  { "ParameterKey": "DBAllocatedStorage",       "ParameterValue": "20" },
  { "ParameterKey": "DBName",                   "ParameterValue": "pde" },
  { "ParameterKey": "DBUser",                   "ParameterValue": "REPLACE_WITH_DB_USER" },
  { "ParameterKey": "DBPassword",               "ParameterValue": "REPLACE_WITH_ALPHANUMERIC_DB_PASSWORD" },
  { "ParameterKey": "AppDomain",                "ParameterValue": "" },
  { "ParameterKey": "AcmCertificateArn",        "ParameterValue": "" },
  { "ParameterKey": "CorsOrigins",              "ParameterValue": "http://localhost:5173,http://127.0.0.1:5173" },
  { "ParameterKey": "TrustedHosts",             "ParameterValue": "*" },
  { "ParameterKey": "SecretKey",                "ParameterValue": "REPLACE_WITH_RANDOM_64_CHAR_SECRET" },
  { "ParameterKey": "AlertEmail",               "ParameterValue": "REPLACE_WITH_YOUR_EMAIL@example.com" },
  { "ParameterKey": "Ec2CpuAlarmThreshold",     "ParameterValue": "85" },
  { "ParameterKey": "DbFreeStorageAlarmThreshold", "ParameterValue": "10737418240" }
]
